<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --}}
    
    <title>Registration App</title>
</head>
<body>

    <div class="container">
        <div class="align">

        
        <h1>REGISTRATION APP</h1>
        <form action="/reg_number" method="post">
        <div class="flashSucces">
            <h5>{{messages.success}}</h5>
        </div>
        <div class="flashError">
            <h5>{{messages.error}}</h5>
        </div>
           <div>
             <label for="">Registration Number : </label>
            <input type="text" name="regInput"><br>
            <input class="btn btn-primary" type="submit" value="ADD">
           </div>
           </form>

           <form action="/town_based" method="post" class="form-check">
           <div class="radio">
            <label for=""> 
                <input type="radio" name="reg_number" id="" value="1">Bergville
            </label>
            <label for=""> 
                <input type="radio" name="reg_number" id="" value="2">Durban
            </label>
            <label for="">
                <input type="radio" name="reg_number" id="" value="3">Harding
            </label>
            <label for="">
                <input class="form-check-input" type="radio" name="reg_number" id="" value="4">Newcastle
            </label><br>
            <input type="submit" value="FILTER">
            <button><a href="/">SHOW ALL</a></button>
           </div>
           <div>
        </div>
        </form>

        <div class="clearBtn">
        <form action="/clear" method="post">
        <input type="submit" value="CLEAR ALL">
        </form>
        

    </div

        <div class="container">
            {{#each showAllReg}}
        <div class="regDisplay">{{registrations}}</div>
        {{/each}}
        </div>

        <div class="container">
            {{#each filtereReg}}
        <div class="regDisplay">{{registrations}}</div>
        {{/each}}
        </div>
        </div>
    </div>

    <script src="flash-fadetime.js"></script>
</body>
</html>