.flashSucces{
    color:green;
}
.flashError{
 color: red;
}

.regDisplay{
    background-color: green;
	border: 0.1em solid;
	border-radius: 0.25em;
	padding: 1em;
	margin: 0.5em;
	width: 7em;
	text-align: center;
	font-weight: bold;
	float: left;   
}

/* .align{
	text-align: center;
} */
.container{
	text-align: center;
}

h1{
	background-color: gold;
}